<!doctype html>
<html>
    <head>
        <title>Index of {{ .Path }}</title>
        <style>
            body {
                font-family: sans-serif;
                margin: 2rem;
                text-align: teft;

                white-space: nowrap; /* prevent wrapping */
                overflow-x: auto;
            }
            a {
                text-decoration: none;
                color: #0366d6;
            }
            a:hover {
                text-decoration: underline;
            }
            span {
                white-space: nowrap;
                display: inline-block;
            }
            .size {
                width: 10ch;
            }
            .type {
                width: 10ch;
            }
            .humanModTime {
                width: 20ch;
            }
            .sortSpan {
                background-color: #101010;
                padding: 10px;
                color: #ffffff;
            }
        </style>
    </head>
    <body>
        <h2>Index of {{ .Path }}</h2>
        {{if ne .Path "/"}}

        <h3 class="linkBack"><a href="../">⬅️ Up</a></h3>
        {{end}} {{ if .DiskStatus }}
        <p><strong>Free space:</strong> {{ .DiskStatus }}</p>
        {{ end }} {{if .EnabledUpload}}
        <form id="uploadForm">
            <p>Upload files to current directory:</p>
            <input type="file" id="fileInput" name="file" multiple required />
            <button type="submit">Upload</button>
        </form>

        <div id="progress">
            <p id="percent"></p>
            <p id="speed"></p>
            <p id="status"></p>
        </div>
        {{end}}
        <span class="sortSpan" id="sortBySizeAsc">0-9💾</span>
        <span class="sortSpan" id="sortBySizeDesc">9-0💾</span>
        <span class="sortSpan" id="sortByModTimeAsc">newest-oldest📅</span>
        <span class="sortSpan" id="sortByModTimeDesc">oldest-newest📅</span>
        <span class="sortSpan" id="sortByNameAsc">A-Z️🔤</span>
        <span class="sortSpan" id="sortByNameDesc">Z-A🔤</span>

        <br />
        <!-- <button id="sortBySizeBtn">Sort by Size</button>
        <button id="sortByNameBtn">Sort by Name</button> -->

        {{range .Files}}
        <div
            class="file-entry"
            data-size="{{.Size}}"
            data-unixModTime="{{.UnixModTime}}"
            data-type="{{if .IsDir}}dir{{else}}file{{end}}"
        >
            <span class="type"
                >{{if .IsDir}}📁 &nbspDir{{else}}📄 File{{end}}</span
            >
            <span class="size">{{.HumanSize}}</span>
            <span class="humanModTime">{{.FormattedModTime}}</span>
            <span class="name"
                ><a href="{{.Path}}">{{.Name}}{{if .IsDir}}/{{end}}</a></span
            >
        </div>
        {{end}} {{if ne .Path "/"}}

        <h3 class="linkBack"><a href="../">⬅️ Up</a></h3>
        {{end}}

        <script>

            {{if .EnabledUpload}}


               const form = document.getElementById("uploadForm");
               const fileInput = document.getElementById("fileInput");
               const percentDisplay = document.getElementById("percent");
               const speedDisplay = document.getElementById("speed");
               const statusDisplay = document.getElementById("status");

               form.addEventListener("submit", function (e) {


                 e.preventDefault();

                   statusDisplay.textContent = "uploading ...";

                   const files = fileInput.files;
                   if (!files.length) return;

                   const formData = new FormData();
                   for (const file of files) {
                       formData.append("file", file);
                   }

                   const xhr = new XMLHttpRequest();
                   xhr.open("POST", window.location.pathname);

                   const startTime = Date.now();

                   // Show alert if user tries to close window while uploading
                    function handleBeforeUnload(e) {
                        e.preventDefault();
                        e.returnValue = ""; // Required for Chrome
                    }
                    window.addEventListener("beforeunload", handleBeforeUnload);

                   xhr.upload.onprogress = function (e) {
                       if (e.lengthComputable) {
                           const percent = ((e.loaded / e.total) * 100).toFixed(2);
                           percentDisplay.textContent =
                               "Progress: " + percent + "%";

                           const elapsed = (Date.now() - startTime) / 1000;
                           const speed = (
                               e.loaded /
                               1024 /
                               1024 /
                               elapsed
                           ).toFixed(2);
                           speedDisplay.textContent =
                               "Speed:   " + speed + " MB/s";
                       }
                   };

                   xhr.onload = function () {
                       if (xhr.status === 200) {
                           statusDisplay.textContent = "Successfully uploaded";
                       } else {
                           alert("Upload failed.");
                       }
                   };

                   xhr.onerror = function () {
                       alert("An error occurred while uploading.");
                       console.error("Upload error:", xhr.status, xhr.statusText);
                   };

                   xhr.send(formData);
               });
               {{end}}

               document
                   .getElementById("sortByModTimeAsc")
                   .addEventListener("click", () => {
                       const container = document.body; // or a more specific container of file entries
                       const files = Array.from(
                           document.querySelectorAll(".file-entry"),
                       );

                       files.sort(
                           (a, b) =>
                               Number(b.getAttribute("data-unixModTime")) -
                               Number(a.getAttribute("data-unixModtime")),
                       );

                       for (const file of files) {
                           container.appendChild(file);
                       }

                       backLinks =document.querySelectorAll(".linkBack")
                       console.log(backLinks)
                       if (backLinks.length == 2){
                         container.appendChild(backLinks[1])
                       }

                   });


               document
                   .getElementById("sortByModTimeDesc")
                   .addEventListener("click", () => {
                       const container = document.body; // or a more specific container of file entries
                       const files = Array.from(
                           document.querySelectorAll(".file-entry"),
                       );

                       files.sort(
                           (a, b) =>
                               Number(a.getAttribute("data-unixModTime")) -
                               Number(b.getAttribute("data-unixModTime")),
                       );

                       for (const file of files) {
                           container.appendChild(file);
                       }

                       backLinks =document.querySelectorAll(".linkBack")
                       console.log(backLinks)
                       if (backLinks.length == 2){
                         container.appendChild(backLinks[1])
                       }

                   });



               document
                   .getElementById("sortBySizeAsc")
                   .addEventListener("click", () => {
                       const container = document.body; // or a more specific container of file entries
                       const files = Array.from(
                           document.querySelectorAll(".file-entry"),
                       );

                       files.sort(
                           (a, b) =>
                               Number(a.getAttribute("data-size")) -
                               Number(b.getAttribute("data-size")),
                       );

                       for (const file of files) {
                           container.appendChild(file);
                       }

                       backLinks =document.querySelectorAll(".linkBack")
                       console.log(backLinks)
                       if (backLinks.length == 2){
                         container.appendChild(backLinks[1])
                       }

                   });

               document
                   .getElementById("sortBySizeDesc")
                   .addEventListener("click", () => {
                       const container = document.body; // or a more specific container of file entries
                       const files = Array.from(
                           document.querySelectorAll(".file-entry"),
                       );

                       files.sort(
                           (a, b) =>
                               Number(b.getAttribute("data-size")) -
                               Number(a.getAttribute("data-size")),
                       );

                       for (const file of files) {
                           container.appendChild(file);
                       }

                       backLinks =document.querySelectorAll(".linkBack")
                       console.log(backLinks)
                       if (backLinks.length == 2){
                         container.appendChild(backLinks[1])
                       }
                   });

               document
                   .getElementById("sortByNameAsc")
                   .addEventListener("click", () => {
                       const container = document.body; // Or your specific container
                       const files = Array.from(
                           document.querySelectorAll(".file-entry"),
                       );

                       files.sort((a, b) => {
                           const nameA = a
                               .querySelector(".name")
                               .textContent.toLowerCase();
                           const nameB = b
                               .querySelector(".name")
                               .textContent.toLowerCase();
                           return nameA.localeCompare(nameB);
                       });

                       for (const file of files) container.appendChild(file);

                       backLinks =document.querySelectorAll(".linkBack")
                       console.log(backLinks)
                       if (backLinks.length == 2){
                         container.appendChild(backLinks[1])
                       }

                   });

               // sort by
               document
                   .getElementById("sortByNameDesc")
                   .addEventListener("click", () => {
                       const container = document.body; // Or your specific container
                       const files = Array.from(
                           document.querySelectorAll(".file-entry"),
                       );

                       files.sort((a, b) => {
                           const nameA = a
                               .querySelector(".name")
                               .textContent.toLowerCase();
                           const nameB = b
                               .querySelector(".name")
                               .textContent.toLowerCase();
                           return nameB.localeCompare(nameA);
                       });

                       for (const file of files) container.appendChild(file);

                       backLinks =document.querySelectorAll(".linkBack")
                       console.log(backLinks)
                       if (backLinks.length == 2){
                         container.appendChild(backLinks[1])
                       }
                   });
        </script>
    </body>
</html>
