<!doctype html>
<html>
    <head>
        <title>Index of {{ .Path }}</title>
        <style>
            :root {
                --blue-color: #3498db;
                --button-color: #b2beed;
                --gray-color: #d3d7e8;
            }
            body {
                font-family: sans-serif;
                margin: 2rem;
                text-align: teft;

                white-space: nowrap; /* prevent wrapping */
                overflow-x: auto;
                background-color: #111;
                color: #fff;
            }
            a {
                text-decoration: none;
                color: var(--blue-color);
            }
            a:hover {
                text-decoration: underline;
            }
            span {
                white-space: nowrap;
                display: inline-block;
            }
            .size {
                width: 10ch;
            }
            .type {
                width: 8ch;
            }
            .humanModTime {
                width: 18ch;
            }

            .unixPerms {
                width: 10ch;
            }
            .sortSpan {
                color: #000;
                background-color: var(--button-color);
                font-family: Arial;
                border-radius: 5px;
                font-size: 14px;
                padding: 5px;
                margin: 5px;
            }
            .hidden {
                display: none;
            }
            .spaces {
                padding: 10px;
            }
            input {
                background-color: var(--gray-color);
                padding: 10px;
                color: #000;
                border-radius: 10px;
            }
            uploadForm {
                background-color: #ccc;
                color: #000;
                border-radius: 10px;
            }

            select {
                background-color: var(--gray-color);
                padding: 10px;
                margin: 5px;
                color: #000;
                border-radius: 10px;
                font-size: 14px;
            }

            button {
                background-color: var(--button-color);
                font-family: Arial;
                border-radius: 5px;
                font-size: 14px;
                padding: 5px;
                margin: 5px;
                box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Inner shadow */
            }
            input[type="file"]::file-selector-button {
                background-color: var(--button-color);
                font-family: Arial;
                border-radius: 5px;
                font-size: 14px;
                padding: 5px;
            }

            label {
                font-weight: bold;
                font-style: italic;
            }
            .file-entry {
                padding: 5px;
            }
        </style>
    </head>
    <body>
        <h2>Index of {{ .Path }}</h2>
        {{if ne .Path "/"}}

        <h3 class="linkBack"><a href="../">⬅️ Up</a></h3>
        {{end}} {{ if .DiskStatus }}
        <p><strong>Free space:</strong> {{ .DiskStatus }}</p>
        {{ end }} {{if .EnabledUpload}}
        <form id="uploadForm">
            <!--<p>Upload files to current directory:</p>-->
            <label for="fileInput">Upload files to current directory:</label>
            <br />
            <input type="file" id="fileInput" name="file" multiple required />
            <button type="submit">Upload 📤</button>
        </form>

        <div id="progress">
            <p id="percent"></p>
            <p id="speed"></p>
            <p id="status"></p>
        </div>
        {{end}}
        <hr />

        <label for="sortSelect">Select file sorting:</label>
        <br />
        <select id="sortSelect">
            <option value="" selected></option>
            <option value="sortBySizeAsc">by size ascending (0-9) 💾△</option>
            <option value="sortBySizeDesc">by size descending (9-0) 💾⛛</option>
            <option value="sortByModTimeAsc">
                by mod time ascending (oldest-newest) ⏳△
            </option>
            <option value="sortByModTimeDesc">
                by mod time descending (newest-oldest) ⏳⛛
            </option>
            <option value="sortByNameAsc">by name ascending (A-Z)△</option>
            <option value="sortByNameDesc">by name descending (Z-A)⛛</option>
        </select>

        <div>
            <span class="sortSpan" id="enableDeletion">Enable deletion ❌</span>
            <span class="sortSpan" id="deleteFiles">Delete files</span>
            <br />
        </div>
        <hr />

        <label for="searchField">Filter files:</label>
        <br />
        <input type="text" id="searchField" placeholder="search files here" />

        <br />
        <hr />
        <div id="filesDiv">
            {{range .Files}}
            <div
                class="file-entry"
                data-size="{{.Size}}"
                data-unixModTime="{{.UnixModTime}}"
                data-type="{{if .IsDir}}dir{{else}}file{{end}}"
            >
                <input class="hidden" type="checkbox" />
                <span class="type"
                    >{{if .IsDir}}📁 &nbspDir{{else}}📄 File{{end}}</span
                >
                <span class="size">{{.HumanSize}}</span>
                <span class="humanModTime">{{.FormattedModTime}}</span>
                <span class="unixPerms">{{.Perms}}</span>
                <span class="name"
                    ><a href="{{.Path}}"
                        >{{.Name}}{{if .IsDir}}/{{end}}</a
                    ></span
                >
            </div>
            {{end}}
        </div>

        {{if ne .Path "/"}}

        <h3 class="linkBack"><a href="../">⬅️ Up</a></h3>
        {{end}}

        <script>
            //@ts-check
            document.getElementById("deleteFiles").classList.add("hidden")

            const input = document.getElementById("searchField");



            input.addEventListener("input", (event) => {

              const query = event.target.value.toLowerCase();

              const files = Array.from(
                  document.querySelectorAll(".file-entry"),
              );

              files.map(file =>{
                const fileName=file.querySelector(".name").textContent.toLowerCase();
                if (fileName.includes(query)){
                  file.classList.remove("hidden");

                }else{
                  file.classList.add("hidden");

                }



              })



            });


                {{if .EnabledUpload}}


                   const form = document.getElementById("uploadForm");
                   const fileInput = document.getElementById("fileInput");
                   const percentDisplay = document.getElementById("percent");
                   const speedDisplay = document.getElementById("speed");
                   const statusDisplay = document.getElementById("status");

                   form.addEventListener("submit", function (e) {


                     e.preventDefault();

                       statusDisplay.textContent = "uploading ...";

                       const files = fileInput.files;
                       if (!files.length) return;

                       const formData = new FormData();
                       for (const file of files) {
                           formData.append("file", file);
                       }

                       const xhr = new XMLHttpRequest();
                       xhr.open("POST", window.location.pathname);

                       const startTime = Date.now();

                       // Show alert if user tries to close window while uploading
                        function handleBeforeUnload(e) {
                            e.preventDefault();
                            e.returnValue = ""; // Required for Chrome
                        }
                        window.addEventListener("beforeunload", handleBeforeUnload);

                       xhr.upload.onprogress = function (e) {
                           if (e.lengthComputable) {
                               const percent = ((e.loaded / e.total) * 100).toFixed(2);
                               percentDisplay.textContent =
                                   "Progress: " + percent + "%";

                               const elapsed = (Date.now() - startTime) / 1000;
                               const speed = (
                                   e.loaded /
                                   1024 /
                                   1024 /
                                   elapsed
                               ).toFixed(2);
                               speedDisplay.textContent =
                                   "Speed:   " + speed + " MB/s";
                           }
                       };

                       xhr.onload = function () {
                           if (xhr.status === 200) {
                               statusDisplay.textContent = "Successfully uploaded";
                           } else {
                               alert("Upload failed.");
                           }
                       };

                       xhr.onerror = function () {
                           alert("An error occurred while uploading.");
                           console.error("Upload error:", xhr.status, xhr.statusText);
                       };

                       xhr.send(formData);
                   });
                   {{end}}

                   const sortByModTimeDesc = () => {
                     const container = document.getElementById("filesDiv"); // or a more specific container of file entries
                                         const files = Array.from(
                                             document.querySelectorAll(".file-entry"),
                                         );

                                         files.sort(
                                             (a, b) =>
                                                 Number(b.getAttribute("data-unixModTime")) -
                                                 Number(a.getAttribute("data-unixModTime")),
                                         );

                                         for (const file of files) {
                                             container.appendChild(file);
                                         }

                   }


                   const sortByModTimeAsc = () => {
                     const container = document.getElementById("filesDiv"); // or a more specific container of file entries
                                         const files = Array.from(
                                             document.querySelectorAll(".file-entry"),
                                         );

                                         files.sort(
                                             (a, b) =>
                                                 Number(a.getAttribute("data-unixModTime")) -
                                                 Number(b.getAttribute("data-unixModTime")),
                                         );


                                         for (const file of files) {
                                             container.appendChild(file);
                                         }


                   }
                   const sortBySizeAsc = () => {
                     const container = document.getElementById("filesDiv"); // or a more specific container of file entries
                     const files = Array.from(
                         document.querySelectorAll(".file-entry"),
                     );

                     files.sort(
                         (a, b) =>
                             Number(a.getAttribute("data-size")) -
                             Number(b.getAttribute("data-size")),
                     );

                     for (const file of files) {
                         container.appendChild(file);
                     }

                   }

                   const sortBySizeDesc = () => {
                     const container = document.getElementById("filesDiv"); // or a more specific container of file entries
                     const files = Array.from(
                         document.querySelectorAll(".file-entry"),
                     );

                     files.sort(
                         (a, b) =>
                             Number(b.getAttribute("data-size")) -
                             Number(a.getAttribute("data-size")),
                     );

                     for (const file of files) {
                         container.appendChild(file);
                     }

                   }

                   const sortByNameAsc = () => {
                     const container = document.getElementById("filesDiv"); // or a more specific container of file entries
                     const files = Array.from(
                         document.querySelectorAll(".file-entry"),
                     );

                     files.sort((a, b) => {
                         const nameA = a
                             .querySelector(".name")
                             .textContent.toLowerCase();
                         const nameB = b
                             .querySelector(".name")
                             .textContent.toLowerCase();
                         return nameA.localeCompare(nameB);
                     });

                     for (const file of files) container.appendChild(file);

                   }


                   const sortByNameDesc = () => {
                     const container = document.getElementById("filesDiv"); // or a more specific container of file entries
                     const files = Array.from(
                         document.querySelectorAll(".file-entry"),
                     );

                     files.sort((a, b) => {
                         const nameA = a
                             .querySelector(".name")
                             .textContent.toLowerCase();
                         const nameB = b
                             .querySelector(".name")
                             .textContent.toLowerCase();
                         return nameB.localeCompare(nameA);
                     });

                     for (const file of files) container.appendChild(file);

                   }



                   document
                       .getElementById("enableDeletion")
                       .addEventListener("click", () => {
                           const container = document.getElementById("filesDiv"); // or a more specific container of file entries
                           const files = Array.from(
                               document.querySelectorAll(".file-entry"),
                           );

                           files.forEach( f => {
                             f.firstElementChild.classList.remove("hidden");


                           })

                           document.getElementById("deleteFiles").classList.remove("hidden");

                       });

                   document
                       .getElementById("deleteFiles")
                       .addEventListener("click", async () => {
                           const container = document.getElementById("filesDiv"); // or a more specific container of file entries
                           const files = Array.from(
                               document.querySelectorAll(".file-entry"),
                           );

                           if(!confirm("Do you want to delete selected files ?")){
                             return;
                           }

                           let filesToDelete = []

                           files.forEach( f => {
                             if(f.firstElementChild.checked){
                               const fileName = f.lastElementChild.innerText
                               filesToDelete.push(fileName);

                             }

                           })

                           console.log(filesToDelete);

                           try{
                             const res =await fetch(`${window.location.pathname}`, {
                               method: "DELETE",
                               headers: {
                                 "Content-Type": "application/json",
                               },
                               body: JSON.stringify({
                                 files : filesToDelete
                               }),
                             });

                             if (!res.ok){
                               throw new Error("failed to delete files")
                             }

                             /// refresh page

                           }catch(err){
                             console.log(err)
                           }

                           window.location.reload();

                       });

                   const sortDecider = () =>{

                     const selectedSort = localStorage.getItem("selectedSort");

                     sortSelect.value = selectedSort;
                     if(!selectedSort) return;

                     switch(selectedSort){
                       case "sortByModTimeAsc" :
                        sortByModTimeAsc();
                        break;
                       case "sortByModTimeDesc" :
                        sortByModTimeDesc();
                        break;
                        case "sortBySizeAsc" :
                         sortBySizeAsc();
                         break;
                        case "sortBySizeDesc" :
                         sortBySizeDesc();
                         break;
                        case "sortByNameAsc" :
                         sortByNameAsc();
                          break;
                        case "sortByNameDesc" :
                          sortByNameDesc();
                          break;
                        default:
                          break;
                     }
                   }


                   const sortSelect = document.getElementById("sortSelect");
                   sortSelect.addEventListener("change", e =>{
                     console.log("sorting selection")
                     const value = e.target.value;
                     if(value){
                       localStorage.setItem("selectedSort",value);
                       sortDecider();
                     }
                   })

                   sortDecider()
        </script>
    </body>
</html>
